.footer {
    background: #fff;
}
.footer__content-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-width: 650px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer__content-links ul li {
    list-style: none;
}
.footer__content-links ul li a {
    list-style: none;
    text-decoration: none;
    font-weight: 400;
font-size: 15px;
line-height: 149%;
text-align: center;
color: #1f1f1f;
}
.footer__content-links ul {
    display: flex;
    gap : 32px;

}

.footer__content-copy {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 50px;
    justify-content: center;
}