.header {
    padding: 22px 0;
    background: #500202;

}

.nav {
    margin: 0 auto;
}

.header__content {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.nav__item {
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #d27487;
    font-family: 'Azeret Mono', monospace;
    max-width: 400px;
    width: 100%;
}

.nav__link {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #d27487;
    font-family: 'Azeret Mono', monospace;
}

.header__content-logo {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header__contetn-bg {
    margin-top: 50px;
}

.header__contetn-bg img {
    max-width: 100%;

}


/* HERO */

.hero {
    padding: 60px 0;
    background: #f2e3e7;
}

.hero__content {
    text-align: center;
    max-width: 869px;
}

.hero__content p {
    font-family: 'Inter_18-Regular', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: #222;
    width: 100%;
}
.hero__content h3 {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #500202;
    margin-top: 5px;
}