.menu__content {
    display: flex;
    justify-content: space-between;
    gap: 105px;
}

.menu__content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.menu__content-info h3 {

    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #6f6f64;
}

.menu__content-info p {
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: #6f6f64;
    max-width: 100%;
}

.menu__content-info button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d27487;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.tab-btn.active {
    background: #000;
    color: #fff;
}

.menu {
    padding: 120px 0;
    background: #e9e9e3;
}

.menu__content-image img {
    max-width: 100%;
    width: 664px;
    height: 1037px;
}
.menu__content-image {
    width: 664px;
    height: 800px;
}