.working {
    background: #aa9e54;
    padding: 120px 0;
}

.working__content {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
}

.working__content-location {
    display: flex;
    flex-direction: column;
}

.working__content-location h4 {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-size: 17px;
    line-height: 127%;
    text-align: center;
    color: #fff;

}

.Location,
.adress {
    font-family: 'inter_18-Regular', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 146%;
    text-align: center;
    color: #fff;
}

.span {
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 146%;
    text-align: center;
    color: #fff;
}

.working__content-hours div {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 146%;
    text-align: center;
    color: #fff;
}

.working__content-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
}

.working__content-hours h4 {
    font-family: 'Inter_18-Regular', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 127%;
    text-align: center;
    color: #fff;
}

.working__content-monday {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.working__content-monday h4 {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-size: 17px;
    line-height: 127%;
    text-align: center;
    color: #fff;
}

.working__content-monday div {
    font-family: 'Inter_18-Regular', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 146%;
    text-align: center;
    color: #fff;
}



.booking {
    padding: 120px 0;
    background: #f5f5f5;
}

.booking__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 40px;
}

.booking__content img {
    max-width: 100%;
    height: auto;
}

.booking__content img:nth-child(2) {
    grid-row: span 2;
}



.cafe-and-bar {
    margin-top: 120px;
    padding: 120px 0;
    background: #4a2b33;
}

.cafe-and-bar__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 250px;

}

.cafe-and-bar__content-logo h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 47px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #d27487;
    max-width: 413px;
    width: 100%;
}

.cafe-and-bar__content-text p {
    font-family: 'Inter_18-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #d27487;
    max-width: 595px;
}